menu "Intel XWAY platforms"
	depends on ARCH_INTEL_XWAY

config SYS_SOC
	default "vrx200" if SOC_INTEL_XWAY_VRX200

choice
	prompt "Intel XWAY SoC select"

config SOC_INTEL_XWAY_VRX200
	bool "Intel XWAY VRX200 family"
	select SUPPORTS_BIG_ENDIAN
	select SUPPORTS_CPU_MIPS32_R1
	select SUPPORTS_CPU_MIPS32_R2
	select MIPS_TUNE_34KC
	select MIPS_INIT_STACK_IN_SRAM
	help
	  This supports Intel XWAY VRX200 family including VRX220, VRX268
	  and VRX288.

endchoice

choice
	prompt "Board select"

config TARGET_EASY80920
	bool "Intel EASY80920 evaluation board"
	depends on SOC_INTEL_XWAY_VRX200
	select INTEL_SUPPORTS_BOOT_RAM

endchoice

choice
	prompt "Boot mode"

config INTEL_BOOT_RAM
	bool "RAM boot"
	depends on INTEL_SUPPORTS_BOOT_RAM
	help
	  This builds an image that is linked to a RAM address. Caches are
	  disabled and environment is built in. The RAM boot mode is suited for
	  use with EJTAG.

endchoice

config INTEL_SUPPORTS_BOOT_RAM
	bool

source "board/intel/easy80920/Kconfig"

endmenu
