
menu "Intel/Lantiq Platform"
	depends on ARCH_LANTIQ

choice
	prompt "Select Target Platform"

config LANTIQ_SOC_XRX500
	bool "xRX500/xRX550 Platforms"
	select SUPPORTS_BIG_ENDIAN
	select SUPPORTS_CPU_MIPS32_R1
	select SUPPORTS_CPU_MIPS32_R2
	select SUPPORT_SPL

endchoice

choice
	prompt "Board select"


config TARGET_LANTIQ_EASY550
	bool "Lantiq EASY550 reference boards"
	select LANTIQ_SOC_XRX500

config TARGET_ZYXEL_GX5502
	bool "Zyxel GX5502-D0"
	select LANTIQ_SOC_XRX500

config TARGET_ZYXEL_GX3502
	bool "Zyxel GX3502-D0"
	select LANTIQ_SOC_XRX500

endchoice

source "arch/mips/mach-lantiq/grx500/Kconfig"
source "board/lantiq/easy550/Kconfig"
source "board/zyxel/gx5502/Kconfig"

endmenu
