CONFIG_HAVE_GENERIC_BOARD=y
CONFIG_SYS_GENERIC_BOARD=y
CONFIG_MIPS=y
CONFIG_SYS_ARCH="mips"
CONFIG_SYS_CPU="mips32"
CONFIG_SYS_SOC="ar10"
CONFIG_SYS_VENDOR="lantiq"
CONFIG_SYS_BOARD="ar10"
CONFIG_SYS_CONFIG_NAME="ar10"
CONFIG_SPL_SYS_MALLOC_SIMPLE=y
CONFIG_LANTIQ=y
CONFIG_LANTIQ_UBOOT_grx390=y
CONFIG_DRIVER_AR10=y
CONFIG_DRIVER_GRX390=y
CONFIG_SYS_TEXT_BASE=0xA0400000
CONFIG_LANTIQ_UART=y
CONFIG_LTQ_BOOT_FROM_NAND=y
CONFIG_ENV_IS_IN_NAND=y
CONFIG_NAND_U_BOOT=y
CONFIG_OS_LZMA=y
CONFIG_IFX_MEMORY_SIZE=256
CONFIG_BAUDRATE=115200
CONFIG_NAND_FLASH=y
CONFIG_NAND_LANTIQ=y
CONFIG_NAND_ECC_SOFT=y
CONFIG_NAND_FLASH_64M=y
CONFIG_NAND_FLASH_SIZE=64
CONFIG_NAND_PAGE_SIZE=0x200
CONFIG_NAND_BLOCK_SIZE=0x4000
CONFIG_NAND_SPL_BLOCK_SIZE=0x4000
CONFIG_TUNE_DDR=y
CONFIG_DDR_TUNING_TEXT_BASE=0xbe1a0000
CONFIG_AR10_DDR2=y
CONFIG_AR10_CRYSTAL_36M=y
CONFIG_GRX390_CPU_720M_RAM_360M=y
CONFIG_GRX390_SYS_CLOCK_720M=y
CONFIG_AR10_PPE_FREQ_400M=y
CONFIG_AR10_SW_PORT_0=y
CONFIG_AR10_SW_PORT0_RGMII_MAC=y
CONFIG_AR10_SW_PORT0_MIIMODE=4
CONFIG_AR10_SW_PORT0_MIIRATE_AUTO=y
CONFIG_AR10_SW_PORT0_MIIRATE=4
CONFIG_AR10_SW_PORT_1=y
CONFIG_AR10_SW_PORT1_RGMII_MAC=y
CONFIG_AR10_SW_PORT1_MIIMODE=4
CONFIG_AR10_SW_PORT1_MIIRATE_AUTO=y
CONFIG_AR10_SW_PORT1_MIIRATE=4
CONFIG_AR10_SW_PORT_2=y
CONFIG_AR10_SW_PORT2_GMII=y
# CONFIG_AR10_SW_PORT2_MII is not set
CONFIG_AR10_SW_PORT2_MIIRATE=4
CONFIG_AR10_SW_PORT2_MIIMODE=1
CONFIG_GRX390_SW_PORT_3b=y
CONFIG_GRX390_SW_PORT3b_GMII=y
CONFIG_GRX390_SW_PORT3b_MIIRATE=4
CONFIG_GRX390_SW_PORT3b_MIIMODE=1
CONFIG_AR10_SW_PORT_4=y
CONFIG_AR10_SW_PORT4_GMII=y
CONFIG_AR10_SW_PORT4_MIIRATE=4
CONFIG_AR10_SW_PORT4_MIIMODE=1
CONFIG_AR10_SW_PORT_5a=y
CONFIG_AR10_SW_PORT5a_RGMII=y
CONFIG_AR10_SW_PORT5a_MIIMODE=4
CONFIG_AR10_SW_PORT5a_MIIRATE=4
CONFIG_AR10_GPHY_CLK_25M=y
CONFIG_AR10_EXTERNAL_GPHY_INTERNAL=y
CONFIG_DISABLE_SINGLE_ENDED_CLK_GPHY2=y
CONFIG_SUPPORT_SPL=y
CONFIG_SPL=y
CONFIG_EXT_SPL_PATH="arch/mips/mach-lantiq/ar10/nand_spl"
CONFIG_NAND_BOOT=y
CONFIG_CMD_NET=y
CONFIG_CMD_UBI=y
CONFIG_BCH=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_BOOTM=y
CONFIG_CMD_GO=y
CONFIG_CMD_RUN=y
# CONFIG_CMD_BOOTD is not set
# CONFIG_CMD_BOOTZ is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_XIMG is not set
CONFIG_CMD_BOOT_TOS=y
# CONFIG_CMD_NFS is not set
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_SOURCE is not set
# CONFIG_CMD_SETEXPR is not set
