CONFIG_HAVE_GENERIC_BOARD=y
CONFIG_SYS_GENERIC_BOARD=y
CONFIG_MIPS=y
CONFIG_SYS_ARCH="mips"
CONFIG_SYS_SOC="grx500"
CONFIG_SYS_VENDOR="lantiq"
CONFIG_SYS_BOARD="grx500"
CONFIG_SYS_CONFIG_NAME="grx500"
CONFIG_SYS_TEXT_BASE=0xA0400000
CONFIG_SPL_SYS_MALLOC_SIMPLE=y
CONFIG_LANTIQ=y
CONFIG_LANTIQ_UBOOT_grx500=y
CONFIG_LANTIQ_UART=y
CONFIG_NAND_U_BOOT=y
CONFIG_OS_LZMA=y
CONFIG_NAND_BOOT=y
CONFIG_IFX_MEMORY_SIZE=224
CONFIG_BAUDRATE=115200
CONFIG_NAND_FLASH=y
CONFIG_NAND_LANTIQ=y
CONFIG_NAND_ECC_BCH=y
CONFIG_BCH_4BITS=y
CONFIG_BCH_CONT_T=7
CONFIG_SPL_OOBSIZE=64
CONFIG_NAND_FLASH_128M=y
CONFIG_NAND_FLASH_SIZE=128
CONFIG_NAND_PAGE_SIZE=0x800
CONFIG_NAND_BLOCK_SIZE=0x20000
CONFIG_NAND_SPL_BLOCK_SIZE=0xA000
CONFIG_DRIVER_GRX500=y
CONFIG_GRX500_A21=y
CONFIG_BOARD_EASY350=y
CONFIG_GRX500_ROM_HEADER_BCH_CAP=8
CONFIG_TOS_32M=y
CONFIG_DDR_512M=y
CONFIG_NETWORK_VIA_LAN=y
CONFIG_GRX500_GPHY_FW_EMBEDDED=y
CONFIG_ENV_REDUND=y
CONFIG_ENV_OVERWRITE=y
CONFIG_SUPPORT_SPL=y
CONFIG_SPL=y
CONFIG_EXT_SPL_PATH="arch/mips/mach-lantiq/grx500/nand_spl"
CONFIG_CMD_NET=y
CONFIG_CMD_UBI=y
CONFIG_BCH=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_BOOTM=y
CONFIG_CMD_GO=y
CONFIG_CMD_RUN=y
# CONFIG_CMD_BOOTD is not set
# CONFIG_CMD_BOOTZ is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_XIMG is not set
CONFIG_CMD_BOOT_TOS=y
# CONFIG_CMD_NFS is not set
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_SOURCE is not set
# CONFIG_CMD_SETEXPR is not set
