CONFIG_MIPS=y
CONFIG_ARCH_LANTIQ=y
CONFIG_TARGET_ZYXEL_GX5502=y
CONFIG_LANTIQ_DDR_GRADE_800_11=y
CONFIG_LANTIQ_DDR_DENSITY_512_16=y
CONFIG_LANTIQ_DDR_AL_CL1=y
CONFIG_LANTIQ_DDR_CTRL_CLK_400=y
CONFIG_LANTIQ_CPS_CLK_1000=y
CONFIG_LANTIQ_CBM_CLK_2400=y
# CONFIG_MIPS_BOOT_CMDLINE_LEGACY is not set
# CONFIG_MIPS_BOOT_ENV_LEGACY is not set
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_UART_BOOT=y
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="U-Boot # "
# CONFIG_AUTOBOOT is not set
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_CONSOLE is not set
# CONFIG_CMD_BOOTD is not set
# CONFIG_CMD_BOOTM is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_EXPORTENV is not set
# CONFIG_CMD_IMPORTENV is not set
# CONFIG_CMD_EDITENV is not set
# CONFIG_CMD_SAVEENV is not set
# CONFIG_CMD_ENV_EXISTS is not set
# CONFIG_CMD_CRC32 is not set
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_NAND=y
# CONFIG_CMD_FPGA is not set
CONFIG_CMD_GPIO=y
# CONFIG_CMD_SOURCE is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_CMD_NFS is not set
CONFIG_CMD_MII=y
CONFIG_CMD_PING=y
# CONFIG_CMD_MISC is not set
CONFIG_LANTIQ_SSO_SHR_COUNT=2
CONFIG_NAND_LANTIQ=y
CONFIG_NAND_LANTIQ_CS0=y
CONFIG_NAND_LANTIQ_CS0_GPIO=y
CONFIG_NAND_LANTIQ_CS0_GPIO_NUM=8
CONFIG_NAND_LANTIQ_CS1_ECC_NONE=y
CONFIG_NETDEVICES=y
CONFIG_XRX500_ETH=y
CONFIG_FW_INTEL_XRX500_PHY11G=y
# CONFIG_REGEX is not set
CONFIG_LIB_SPHAIRON=y
CONFIG_SPHAIRON_ETL_NAND=y
CONFIG_SPHAIRON_ETL_WRITE_DISABLE=y
