CONFIG_HAVE_GENERIC_BOARD=y
CONFIG_SYS_GENERIC_BOARD=y
CONFIG_MIPS=y
CONFIG_SYS_ARCH="mips"
CONFIG_SYS_SOC="prx300"
CONFIG_SYS_VENDOR="lantiq"
CONFIG_SYS_BOARD="prx300"
CONFIG_SYS_CONFIG_NAME="prx300"
CONFIG_SPL_SYS_MALLOC_SIMPLE=y
CONFIG_LANTIQ=y
CONFIG_LANTIQ_UBOOT_prx300=y
CONFIG_SYS_TEXT_BASE=0xA0400000
CONFIG_SYS_DCACHE_SIZE=0
CONFIG_SYS_DCACHE_LINE_SIZE=0
CONFIG_SYS_ICACHE_SIZE=0
CONFIG_SYS_ICACHE_LINE_SIZE=0
CONFIG_SPI_BOOT=y
CONFIG_SPL=y
CONFIG_SPI_SPL_SIZE=0x6000
CONFIG_EXT_SPL_PATH="arch/mips/mach-lantiq/prx300/spi_spl"
CONFIG_IFX_MEMORY_SIZE=64
CONFIG_BAUDRATE=115200
CONFIG_LTQ_BOOT_FROM_SPI=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_4M=y
CONFIG_LANTIQ_SPI=y
CONFIG_SF_DEFAULT_SPEED=22222222
CONFIG_SF_DEFAULT_MODE=0
CONFIG_DRIVER_PRX300=y
CONFIG_PRX300_USE_DDR_PRECONFIG=y
CONFIG_NON_STANDARD_MODE=y
CONFIG_PRX300_DDR_CONFIG_FILE="board/lantiq/prx300/ddr4/ddr4_2GB_2133mhz.conf"
CONFIG_PRX300_EXTERNAL_PHY=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_USE_4K_SECTORS=y
CONFIG_SUPPORT_OF_CONTROL=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_BOOTM=y
CONFIG_CMD_GO=y
CONFIG_CMD_RUN=y
CONFIG_CMD_SF=y
# CONFIG_CMD_BOOTD is not set
# CONFIG_CMD_BOOTZ is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_NFS is not set
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_BOOT_TOS=y
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_SOURCE is not set
# CONFIG_CMD_SETEXPR is not set
