CONFIG_HAVE_GENERIC_BOARD=y
CONFIG_SYS_GENERIC_BOARD=y
CONFIG_MIPS=y
CONFIG_SYS_ARCH="mips"
CONFIG_SYS_CPU="mips32"
CONFIG_SYS_SOC="vr9"
CONFIG_SYS_VENDOR="lantiq"
CONFIG_SYS_BOARD="vr9"
CONFIG_SYS_CONFIG_NAME="vr9"
CONFIG_SPL_SYS_MALLOC_SIMPLE=y
CONFIG_LANTIQ=y
CONFIG_LANTIQ_UBOOT_vr9=y
CONFIG_SYS_TEXT_BASE=0xA0400000
CONFIG_LTQ_BOOT_FROM_SPI=y
CONFIG_ENV_IS_IN_SPI_FLASH=y
CONFIG_RAM_TEXT_BASE=0xA0400000
CONFIG_OS_LZMA=y
CONFIG_IFX_MEMORY_SIZE=64
CONFIG_BAUDRATE=115200
CONFIG_LANTIQ_SPI=y
CONFIG_SPI_FLASH_4M=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SF_DEFAULT_SPEED=2222222
CONFIG_SF_DEFAULT_MODE=0
CONFIG_VRX200=y
CONFIG_VR9_CRYSTAL_36M=y
CONFIG_VR9_DDR2=y
CONFIG_VR9_CPU_500M_RAM_250M=y
CONFIG_VR9_SW_PORT_2=y
CONFIG_VR9_SW_PORT2_GMII=y
CONFIG_VR9_INTERNAL_PHY_TYPE=1
CONFIG_GPHY_LED_SHIFT_REG=y
CONFIG_VR9_SW_PORT2_MIIRATE=4
CONFIG_VR9_SW_PORT2_MIIMODE=1
CONFIG_VR9_SW_PORT_4=y
CONFIG_VR9_SW_PORT4_GMII=y
CONFIG_VR9_SW_PORT4_MIIRATE=4
CONFIG_VR9_SW_PORT4_MIIMODE=1
CONFIG_VR9_SW_PORT_5a=y
CONFIG_VR9_SW_PORT5a_RGMII=y
CONFIG_VR9_SW_PORT5a_MIIMODE=4
CONFIG_VR9_SW_PORT5a_MIIRATE=4
CONFIG_VR9_GPHY_FW_EMBEDDED=y
CONFIG_TUNE_DDR=y
CONFIG_DDR_TUNING_TEXT_BASE=0x9e220000
CONFIG_ENABLE_DCDC=y
CONFIG_POWER_DOWN_REGULATOR=y
CONFIG_ENV_OVERWRITE=y
CONFIG_SPI_BOOT=y
CONFIG_SUPPORT_SPL=y
CONFIG_SPL=y
CONFIG_EXT_SPL_PATH="arch/mips/mach-lantiq/vr9/spi_spl"
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_BOOTM=y
CONFIG_CMD_GO=y
CONFIG_CMD_RUN=y
CONFIG_CMD_SF=y
# CONFIG_CMD_BOOTD is not set
# CONFIG_CMD_BOOTZ is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_NFS is not set
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_BOOT_TOS=y
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_SOURCE is not set
# CONFIG_CMD_SETEXPR is not set
